 
.nav{ width: 1436px; margin: 0 auto; margin-top: 234px; }
.nav .one{ float:left; width: 269px; height: 229px;  margin: 45px 45px; display: block;} 
.nav .cat1{background: url(../../img/index/cat1.png) no-repeat;  }
.nav .cat2{background: url(../../img/index/cat2.png) no-repeat;  }
.nav .cat3{background: url(../../img/index/cat3.png) no-repeat;  }
.nav .cat4{background: url(../../img/index/cat4.png) no-repeat;  }
.nav .cat5{background: url(../../img/index/cat5.png) no-repeat;  }
.nav .cat6{background: url(../../img/index/cat6.png) no-repeat;  }
.nav .cat7{background: url(../../img/index/cat7.png) no-repeat;  }
.nav .cat8{background: url(../../img/index/cat8.png) no-repeat;  }

 