body, html{ height:100%; width:100%; color:#000; overflow:hidden; }
 
#topFrame{ height:60px; overflow:hidden;  background-color:#f0f0f0; border-bottom:solid 1px #999;}
#topFrame ul li{ float:left;}
#topFrame .logo{ width:160px; height:60px;  font-size:28px; font-weight:bold; text-align:center; color:#000; line-height:60px; cursor:pointer;  }
#topFrame .word{ float:left; width:400px; height:60px; line-height:60px;}
 

#leftFrame{ width:180px;  background-color:#f0f0f0; border-right:solid 1px #999; }
#leftFrame #leftcat{ width:180px; padding-bottom:40px;  white-space:nowrap; overflow:auto;}
 
 